experiment_m3
experiment_m5
experiment_m10
debug_m3
debug_m5
debug_m10
*.o
.DS_Store
additional_m3
additional_m5
additional_m10
experiment_m1
experiment_m3
experiment_m5
experiment_m10
debug_m3
debug_m5
debug_m10
*.o
*.dSYM
.DS_Store
additional_m3
additional_m5
additional_m10
experiment_m1
experiment_m3
experiment_m5
experiment_m10
debug_m3
debug_m5
debug_m3.dSYM
debug_m5.dSYM
main
*.dSYM
.DS_Store
student.csv
